@use "../../variables" as v;

.menuContainer {
  display: flex;
  padding: v.$container-padding;
  box-sizing: border-box;
}

.varieties {
  flex: 1;
//   margin-top: 90px;
}

.menuItems {
  flex: 2;
}

.cart {
  flex: 1;
  padding-top: 80px;
}
