// @use "../../../variables" as v;

.breadcrumb-conatiner {
  padding: 5px 76px;
  font-size: 11px;
  margin-top: 82px;
  color: #93959f;
  font-weight: 400;
  
  .res-name {
    color: #535665;
  }

  .summary-details {
    flex: 2;
  }
}
